@font-face {
  font-family: "poppins, med";
  src: url(fonts/Poppins-Medium.ttf);
  font-size: normal;
  font-weight: normal;
}
* {
  box-sizing: border-box;
  margin: 0;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "poppins, med";
  font-size: 1.5rem;
}
.close-nav {
  display: none;
}
/* ====nav */

nav {
  display: flex;
  padding: 2.5rem;
  align-items: center;
  justify-content: space-between;
  background-color: #007300;
  color: white;
  position: fixed;
  width: 100%;
  z-index: 1;
}

nav figure {
  padding: 1rem;
  cursor: pointer;
}

nav figure:hover {
  background-color: #80c080;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
  color: #007300;
}

nav ul {
  display: flex;
  gap: 0.5rem;
  list-style-type: none;
  cursor: pointer;
}

nav ul li:hover,
nav ul li a:hover {
  background-color: #80c080;
  transition: all 0.3s ease-in-out;
  color: #007300;
  border-radius: 10px;
}

nav ul li {
  padding: 1rem;
}

nav ul li a {
  text-decoration: none;
  color: white;
}
.nav-button {
  display: none;
}
.nav-open {
  width: 100%;
}
/* ====section */

main section {
  padding-top: 11rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  background-image: url(images/gradient.jpg);
  background-size: cover;
}
.landing-wrapper {
  width: 100%;
  padding: 10px;
  backdrop-filter: blur(0px) saturate(128%);
  -webkit-backdrop-filter: blur(0px) saturate(128%);
  background-color: rgba(255, 253, 253, 0.8);
  border-top: 5px solid #1a8d1a;
  transition: all 0.3s ease-in-out;
}
.tabs {
  display: flex;
  justify-content: space-around;
  margin-top: 0.3rem;
}
.tab-button:hover {
  background-color: #e6f2e6;
  border-radius: 5px;
  color: black;
}
.tab-button.active {
  background-color: #e6f2e6;
  border-radius: 10px;
  color: #007300;
}
.tab-content.active {
  display: block;
}
.tab-content {
  padding: 5rem;
  display: none;
}
.tab-content h1 {
  text-align: center;
  padding-bottom: 2rem;
}
.tabs button {
  width: 100%;
  padding: 1rem;
  border: 0;
  cursor: pointer;
}
.tabs {
  background-color: #f0f0f0;
  border-radius: 10px;
  overflow: hidden;
}

.tab-button {
  font-family: "poppins, med";
  transition: all 0.3s ease-in-out;
}

/* myinfo */
.myinfo {
  display: grid;
  grid-template-columns: 0.5rem 17rem 1fr;
  align-items: center;
}

.myinfo div {
  padding-bottom: 1rem;
  padding-top: 1rem;
  display: flex;
  padding-left: 5px;
}
.myinfo div:nth-child(1) {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.myinfo div:nth-child(1)::before {
  content: "";
  position: absolute;
  display: block;
  height: 5px;
  width: 5px;
  border-radius: 50%;
  left: -30px;
}

.myinfo div:nth-child(3n + 1) {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes fillLine {
  from {
    height: 0;
  }
  to {
    height: 80px; /* Adjust height as needed */
  }
}
/* ====footerr*/
footer {
  padding: 2rem 2rem 2rem 2rem;
  background-color: #e6f2e6;
  border-top: 0.5rem solid #007300;
  color: #007300;
}

.input-user {
  position: relative;
  width: 100%;
}
.input-user textarea {
  border: none;
  outline: none;
  width: 100%;
  height: 9rem;
  resize: none;
  font-family: "poppins, med";
  padding: 1rem;
  border-radius: 4px;
}
.input-name input {
  border: none;
  outline: none;
  width: 100%;
  height: 3rem;
  padding: 1rem;
  font-family: "poppins, med";
  border-radius: 2px;
}
.input-user textarea:focus {
  border: none;
}

.input-name {
  position: relative;
}
.input-user label {
  position: absolute;
  font-size: 1.5rem;
  top: 50%;
  transform: translate(0, -70%);
  left: 5px;
  color: grey;
  transition: all 0.3s ease-in-out;
}
.input-name label {
  position: absolute;
  font-size: 1.5rem;
  top: 50%;
  transform: translate(0, -50%);
  left: 5px;
  color: grey;
  transition: all 0.3s ease-in-out;
}
.input-name input:focus + label,
.input-name input:valid + label {
  top: -0.9rem;
  color: #007300;
  left: 5px;
}
.input-user textarea:focus + label,
.input-user textarea:valid + label {
  top: -0.5rem;
  color: #007300;
  left: 5px;
}

.input-button {
  display: flex;
  text-align: right;
  justify-content: right;
}
.input-button button {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #008000;
  color: #e6f2e6;
  width: 10rem;
  height: 4rem;
  font-family: "poppins, med";
}

.footer-header {
  text-align: center;
}

.footer-body {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.row--1 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.row--1 h4 {
  position: absolute;
  text-align: center;
}
.row--2 {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  width: 100%;
}
.row--2 h4 {
  text-align: center;
}
.row--1,
.row--3,
.row--3 {
  width: 100%;
}

.row--3 {
  padding-left: 4rem;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
}

.row--3 span {
  padding-bottom: 2rem;
}

.row--3 span:last-child {
  padding-bottom: 0rem !important;
}
/* ====main */
/* modal */
/* modal */
.joinus-modal {
  background: rgba(0, 0, 0, 0, 0.8);
  top: 0;
  width: 100%;
  height: 100vh;
  margin: auto;
  display: none;
  justify-content: center;
  align-items: center;
  padding: 5rem;

  transition: all 3s ease-in-out;
}
.joinus-modal .modal {
  width: 50%;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.4);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(18.3px);
  -webkit-backdrop-filter: blur(18.3px);
  border: 1px solid rgba(255, 255, 255, 0.31);
  padding: 2rem;
}

.joinus-modal .modal-close {
  color: white;
  display: flex;
  align-items: center;
  justify-content: right;
  text-align: right;
}
.joinus-modal .modal-close button {
  border-radius: 50%;
  border: none;
  box-shadow: 1px 1px 10px rgb(255, 255, 255);
  background-color: red;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.joinus-modal .modal-title {
  padding: 2rem;
  text-align: center;
}

.joinus-modal .modal-body {
  width: 100%;
  padding: 2rem;
}
.joinus-modal .uname-div {
  display: flex;
  flex-direction: column;
}
.joinus-modal .pname-div {
  display: flex;
  flex-direction: column;
}
.joinus-modal .uname-div input {
  width: 100%;
  height: 3rem;
  padding: 2rem;
}
.joinus-modal .pname-div input {
  width: 100%;
  height: 3rem;
  padding: 2rem;
}
.joinus-modal .modal-footer .modal-controls {
  padding: 2rem 0px 2rem 0px;
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

.joinus-modal .modal-footer .modal-controls button {
  color: white;
  background: #007300;
  border: none;
  padding: 1rem;
  width: 100%;
  cursor: pointer;
}
.joinus-modal .modal-footer .modal-controls button:hover {
  color: black;
}

.joinus-modal .modal-forgotpass {
  display: flex;
  justify-content: right;
}
.joinus-modal .modal-forgotpass a {
  text-decoration: none;
}

.joinus-modal-active {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(18.3px);
  -webkit-backdrop-filter: blur(18.3px);
  border: 1px solid rgba(255, 255, 255, 0.31);
  display: flex;
  position: fixed;
  top: 0;
  z-index: 9999999;
}
/* modal */
@media (max-width: 1200px) {
  /* modal */
  .joinus-modal {
    width: 100%;
    padding: 2rem;
  }
  .joinus-modal .modal {
    width: 100%;
  }
  /* mainsection` */
  main section {
    padding: 0px;
    transition: all 0.3s ease-in-out;
  }

  /* navigation */
  nav {
    display: block;
    transition: all 0.3s ease;
    overflow: hidden;
    height: 100vh;
    padding: 0px;
    padding-top: 2rem;
    width: 0px;
  }
  nav figure:hover {
    background-color: #80c080;
    border-radius: 0;
    transition: all 0.3s ease-in-out;
    color: #007300;
  }
  nav ul {
    display: block;
    transition: all 0.3s ease;
    padding: 0px;
  }
  nav ul li:hover {
    background-color: #80c080;
    transition: all 0.3s ease-in-out;
    color: #007300;
    border-radius: 0;
  }
  nav ul li,
  nav figure {
    text-align: center;
  }
  .nav-button {
    display: flex;
    flex-direction: column;
    gap: 2px;
    padding: 5px;
    width: 5rem;
  }
  .nav-button span {
    width: 4rem;
    height: 0.6rem;
    background-color: #008000;
    display: block;
    border-radius: 2px;
    cursor: pointer;
  }
  .nav-button:hover span {
    box-shadow: 1px 1px 5px 1px #80c080;
    transition: all 0.3s ease;
  }

  .close-nav {
    display: block;
    text-align: right;
    padding-right: 10px;
    cursor: pointer;
    padding: 2rem;
  }

  /* .landing-wrapper */
  .landing-wrapper {
    padding: 0.5rem;
    overflow: hidden;
  }
  .tab-content {
    padding: 0.5rem;
  }

  .tab-content h1 {
    text-align: center;
    padding-top: 2rem;
  }
  /* footer */
  .footer-body {
    display: block;
  }
  .row--1 h4 {
    text-align: center;
    color: #007300;
  }
  .row--1 {
    padding: 5rem;
    text-align: center;
    color: #007300;
  }
  .row--2 {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    text-align: center;
    color: #007300;
  }
  .row--3 {
    padding: 5rem;
    text-align: center;
    color: #007300;
  }

  .row--3 span {
    text-align: center;
    display: block;
  }
}
